version: "3.9"

services:
  api:
    build: .
    command: ["fastapi", "dev", "app/main.py", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    volumes:
      - ./:/code
    environment:
      - PYTHONUNBUFFERED=1

